* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Pretendard, sans-serif;
    padding: 50px;
    background: #fff;
}

.event-section{
    max-width:1200px;
    margin:60px auto;
}

.event-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.event-header h2{
    font-size:20px;
    font-weight:700;
    color:#111;
}

.event-header a{
    text-decoration:none;
    color:#1677ff;
    font-size:15px;
    font-weight:600;
}

.event-wrap{
    display:flex;
    gap:24px;
}

.event-card{
    flex:1;
    background:#efefef;
    border-radius:16px;
    padding:24px;
    height:185px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.event-text p{
    font-size:15px;
    color:#555;
    margin-bottom:10px;
}

.event-text h3{
    font-size:30px;
    line-height:1.25;
    font-weight:800;
    color:#333;
}

.event-text span{
    color:#ff3d57;
}

.event-image{
    width:120px;
    height:120px;
    border-radius:50%;
    overflow:hidden;
    flex-shrink:0;
}

.event-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.event-live{
    width:130px;
    height:70px;
    border-radius:12px;
    background:linear-gradient(
        135deg,
        #ff006a,
        #ff4b7d,
        #6d5cff
    );

    color:#fff;
    font-size:32px;
    font-weight:900;

    display:flex;
    align-items:center;
    justify-content:center;

    transform:rotate(-10deg);
}
.section-title{
    font-size: 20px;   
}

.destination-row {
    display: flex;
    gap: 16px;
}

.destination-card {
    flex: 1;
    min-width: 0;
}

.destination-card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;
    display: block;
    transition: 0.3s;
}

.destination-card h3 {
    margin-top: 12px;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    color: #111;
}
.banner {
  width: 100%;
  max-width: 1300px;
  margin: 40px auto;
  background: #eef0ff;
  border-radius: 18px;
  padding: 28px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.text-area {
  max-width: 60%;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #111;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 18px;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-primary {
  background: #2f6bff;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.btn-link {
  color: #2f6bff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}


